<% if @birthday.today?(@day, @month) %>
  <h1 class="bday">Happy Birthday <%= @name %>!</h1>
<% else %>
  <h1 class="bday">Your birthday will be in <%= @birthday.time_until_bday(@day, @month) %> <%= @name %>
<% end %>